::selection {
    background-color: var(--accent-color);
}

h1,
h2,
h3,
h4 {
    margin-top: 2rem;
    font-size: 1rem;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

h4 {
    font-weight: 400;
}

hr {
    margin: 0.5rem 0;
}
