body {
    font-family: "Space Grotesk", sans-serif;
    text-align: justify;
    text-justify: auto;

    color: var(--secondary-color);
    background-color: var(--primary-color);

    max-width: 900px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

main {
    flex: 1;
    display: flex;
}

footer {
    padding: 1rem;
    opacity: 0.5;
    font-size: 0.875rem;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer span {
    padding: 0 0.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    width: 100%;
    padding: 1.5rem 1rem;
}

nav > a {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--secondary);
}

nav > ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

nav > ul > li {
    list-style-type: none;
    list-style-position: inside;
}

nav > ul > li > a {
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary);
}
