/* Headings */

h1,
h2,
h3,
h4 {
    margin-top: 2rem;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-weight: 600;
    font-size: 1rem;
}

h3 {
    font-weight: 500;
    font-size: 1rem;
}

h4 {
    font-weight: 300;
    font-size: 1rem;
}

h1 + h2,
h2 + h3,
h3 + h4 {
    margin-top: 0.5rem;
}

/* Horizontal Rules */

h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr {
    margin-top: 0.5rem;
}

/* Paragraphs */

p {
    margin: 0.5rem 0;
}

/* Lists */

li {
    margin: 0.5rem 1rem;
}

/* Links */

a {
    color: var(--secondary-color);
    text-decoration-style: underline;
}

a:visited {
    color: var(--secondary-color-light);
}

/* Quotes */

blockquote {
    margin: 0.5rem 0;
    padding-left: 1rem;
    border-left: 2px solid var(--secondary-color-light);
}

/* Images */

img {
    max-width: 100%;
    height: auto;
    margin: 0.5rem;
    background-color: inherit;
}

img:is(.full-image) {
    border-radius: 0.5rem;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
}

/* Selection */

::selection {
    background-color: var(--accent-color);
}
