/* Headings */

h1,
h2,
h3,
h4 {
    margin-top: 2rem;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-weight: 600;
    font-size: 1rem;
}

h3 {
    font-weight: 500;
    font-size: 1rem;
}

h4 {
    font-weight: 300;
    font-size: 1rem;
}

h1 + h2,
h2 + h3,
h3 + h4 {
    margin-top: 0.5rem;
}

/* Horizontal Rules */

hr {
    margin-top: 0.5rem;
    border-style: solid;
    border-color: var(--secondary-color-light);
}

/* Paragraphs */

p {
    margin: 0.5rem 0;
}

/* Text */

::target-text {
    color: var(--secondary-color);
}

/* Mark */

::selection,
mark {
    background-color: var(--accent-color);
    padding: 0rem 0.25rem;
    border-radius: 0.25rem;
}

mark::selection {
    background-color: var(--secondary-color-light);
}

/* Lists */

ol,
ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;

    li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
}

/* Links */

a {
    color: var(--secondary-color);
    text-decoration-style: underline;

    :visited {
        color: var(--secondary-color-light);
    }
}

a:is(.anchor),
a:is(.anchor):visited {
    font-size: inherit;
    font-weight: inherit;
    color: var(--secondary-color);
    text-decoration: none;
}

/* Quotes */

blockquote {
    margin: 0.5rem 0;
    padding-left: 1rem;
    border-left: 2px solid var(--secondary-color-light);

    ol,
    ul {
        padding-left: 1rem;
    }

    code {
        display: block;
        text-align: center;
        white-space-collapse: preserve-breaks;
        overflow-wrap: break-word;
        font-size: 1rem;
    }
}

/* Footnotes & References */

.footnote {
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--secondary-color);
}

.reference {
    font-weight: 300;
    text-decoration: none;
}

.footnote-table,
.reference-table {
    width: 100%;
    margin: 0.5rem 0;

    tbody {
        border: none;
    }
}

.footnote-target-id,
.reference-target-id {
    font-weight: 300;
    color: var(--secondary-color);
}

/* Tables */

table {
    border-collapse: collapse;
    margin: 1rem auto;
    width: 75%;
    min-width: 256px;
}

tbody {
    border-top: 2px solid var(--secondary-color);
}

/* Images */

img {
    max-width: 100%;
    height: auto;
    margin: 0.5rem;
    background-color: inherit;
}

img:is(.full-image) {
    border-radius: 0.5rem;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
}

/* Citations and Captions */

cite,
figcaption {
    display: block;
    text-align: right;
    margin-bottom: 0.5rem;

    font-size: 0.875rem;
    font-weight: 300;
    color: var(--secondary-color);

    a {
        font-size: inherit;
        font-weight: inherit;
        font-style: inherit;
        color: var(--secondary-color);
        text-decoration: none;
    }
}
