/* Headings */

h1,
h2,
h3,
h4 {
    margin-top: 2rem;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-weight: 600;
    font-size: 1rem;
}

h3 {
    font-weight: 500;
    font-size: 1rem;
}

h4 {
    font-weight: 300;
    font-size: 1rem;
}

h1 + h2,
h2 + h3,
h3 + h4 {
    margin-top: 0.5rem;
}

/* Horizontal Rules */

h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr {
    margin-top: 0.5rem;
}

/* Paragraphs */

p {
    margin: 0.5rem 0;
}

/* Text */

::target-text {
    color: var(--secondary-color);
}

/* Mark */

::selection,
mark {
    background-color: var(--accent-color);
    padding: 0rem 0.25rem;
    border-radius: 0.25rem;
}

mark::selection {
    background-color: var(--secondary-color-light);
}

/* Lists */

ol,
ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
}

li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

/* Links */

a {
    color: var(--secondary-color);
    text-decoration-style: underline;
}

a:visited {
    color: var(--secondary-color-light);
}

a:is(.anchor),
a:is(.anchor):visited {
    font-size: inherit;
    font-weight: inherit;
    color: var(--secondary-color);
    text-decoration: none;
}

/* Quotes */

blockquote {
    margin: 1rem 0;
    padding-left: 1rem;
    border-left: 2px solid var(--secondary-color-light);
}

blockquote > ol,
blockquote > ul {
    margin-left: 1rem;
}

.blockquote > cite {
    display: block;
    text-align: right;
}

.blockquote > cite > a {
    font-size: 0.875rem;
    font-weight: 300;
    font-style: italic;
    color: var(--secondary-color);
    text-decoration: none;
}

/* Footnotes & References */

.footnote,
.reference {
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--secondary-color);
    /*margin-left: -0.125rem;*/
}

.footnote-table,
.reference-table {
    width: 100%;
    margin: 0.5rem 0;
}

.footnote-table > tbody,
.reference-table > tbody {
    border: none;
}

.footnote-target-id {
    font-weight: 300;
    font-style: italic;
    color: var(--secondary-color);
}

.reference-target-id {
    font-style: italic;
    color: var(--secondary-color);
}

/* Tables */

table {
    border-collapse: collapse;
    margin: 1rem auto;
    width: 75%;
    min-width: 256px;
}

tbody {
    border-top: 2px solid var(--secondary-color);
}

/* Images */

img {
    max-width: 100%;
    height: auto;
    margin: 0.5rem;
    background-color: inherit;
}

img:is(.full-image) {
    border-radius: 0.5rem;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
}
