/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

@media (max-width: 512px) {
    * {
        font-size: 12px;
    }
}

/* Variables */

:root {
    --primary-color: #f6f6f6;
    --secondary-color: #060606;
    --accent-color: #20ee88;

    --primary-color-light: #fafafa;
    --secondary-color-light: #767676;
}

/* Fonts */

@font-face {
    font-family: "Space Grotesk";
    src: url("../../assets/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf")
        format("truetype");

    font-style: normal;
    font-display: swap;
}
