/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

@media (max-width: 512px) {
    * {
        font-size: 12px;
    }
}

/* Variables */

:root {
    --primary-color: #f6f6f6;
    --secondary-color: #060606;
    --accent-color: #20ee88;

    --secondary-color-light: #06060690;
}

/* Fonts */

@font-face {
    font-family: "Space Grotesk";
    src: url("../../assets/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf")
        format("truetype");

    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../../assets/fonts/jetbrains-mono/JetBrainsMono[wght].ttf")
        format("truetype");

    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../../assets/fonts/jetbrains-mono/JetBrainsMono-Italic[wght].ttf")
        format("truetype");

    font-style: italic;
    font-display: swap;
}
/* Layout */

body {
    font-family: "Space Grotesk", sans-serif;
    text-align: justify;
    text-justify: auto;

    color: var(--secondary-color);
    background-color: var(--primary-color);

    max-width: 768px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    width: 100%;
}

nav > a {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--secondary);
}

nav > ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

nav > ul > li {
    list-style-type: none;
    list-style-position: inside;
}

nav > ul > li > a {
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary-color);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}

main > * {
    width: 100%;
}

footer {
    color: var(--secondary-color-light);
    font-size: 0.875rem;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer span {
    padding: 0 0.5rem;
}
::selection {
    background-color: var(--accent-color);
}

h1,
h2,
h3,
h4 {
    margin-top: 2rem;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-weight: 600;
    font-size: 1rem;
}

h3 {
    font-weight: 500;
    font-size: 1rem;
}

h4 {
    font-weight: 300;
    font-size: 1rem;
}

h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr {
    margin-top: 0.5rem;
}

h1 + h2,
h2 + h3,
h3 + h4 {
    margin-top: 0.5rem;
}

p {
    margin: 0.5rem 0;
}

li {
    margin: 0.5rem 1rem;
}

blockquote {
    margin: 0.5rem 0;
    padding-left: 1rem;
    border-left: 2px solid var(--secondary-color-light);
}
