@import url("./prism.css");

@font-face {
    font-family: "JetBrains Mono";
    src: url("../../assets/fonts/jetbrains-mono/JetBrainsMono[wght].ttf")
        format("truetype");

    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../../assets/fonts/jetbrains-mono/JetBrainsMono-Italic[wght].ttf")
        format("truetype");

    font-style: italic;
    font-display: swap;
}

/* Code Blocks */

div:is(.code-block-wrapper) {
    background-color: #2e3440;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding: 1.25rem 1.5rem;
    overflow-x: auto;
}

div:is(.code-block-wrapper) *::selection {
    background-color: #eceff4;
}

div:is(.code-block-wrapper) > div:is(.code-block-header) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
}

div:is(.code-block-wrapper)
    > div:is(.code-block-header)
    > span:is(.code-block-header-lang) {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.75rem;
    color: #eceff4;
    background-color: inherit;
}

div:is(.code-block-wrapper)
    > div:is(.code-block-header)
    > span:is(.code-block-header-lang) {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.75rem;
    color: #eceff4;
    background-color: inherit;
}

div:is(.code-block-wrapper)
    > div:is(.code-block-header)
    > div:is(.code-block-header-controls)
    > span {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #eceff4;
    margin-left: 0.5rem;
}

div:is(.code-block-wrapper)
    > div:is(.code-block-header)
    > div:is(.code-block-header-controls)
    > span:nth-child(1) {
    background-color: #a3be8c;
}

div:is(.code-block-wrapper)
    > div:is(.code-block-header)
    > div:is(.code-block-header-controls)
    > span:nth-child(2) {
    background-color: #ebcb8b;
}

div:is(.code-block-wrapper)
    > div:is(.code-block-header)
    > div:is(.code-block-header-controls)
    > span:nth-child(3) {
    background-color: #bf616a;
}

div:is(.code-block-wrapper) > pre[class*="language-"] {
    background-color: inherit;
    padding: 0;
    margin: 0.5rem 0;
}

div:is(.code-block-wrapper) > pre[class*="language-"] * {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.875rem;
    background-color: inherit;
}
