/* Font Definitions */

/* Space Grotesk */

@font-face {
    font-family: 'Space Grotesk';
    src: url("../public/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf") format('truetype');

    font-style: normal;

    font-display: swap;
}

/* JetBrains Mono */

@font-face {
    font-family: 'JetBrains Mono';
    src: url("../public/fonts/jetbrains-mono/JetBrainsMono[wght].ttf") format('truetype');

    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url("../public/fonts/jetbrains-mono/JetBrainsMono-Italic[wght].ttf") format('truetype');

    font-style: italic;

    font-display: swap;
}